---
import Socials from '../components/Socials.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Orzxiety">
    <div class="mx-auto w-full max-w-md space-y-4">
        <h1 class="w-fit rounded-lg bg-blue-600 px-2 font-mono text-4xl leading-12 font-bold text-white select-none">
            orz__
        </h1>
        <section class="space-y-2 text-white selection:bg-neutral-700">
            <p>A software developer who's passionate about web technologies and system administration.</p>
            <Socials />
        </section>
    </div>
</Layout>
