---
import { LucideLink } from '@lucide/astro';
---

<ul class="flex flex-row flex-wrap items-center gap-2 text-neutral-400">
    <LucideLink class="w-4" />
    <li class="flex items-center gap-2 not-first-of-type:before:content-['•']">
        <a href="https://github.com/orzxiety/" class="hover:cursor-pointer hover:text-white hover:underline">GitHub</a>
    </li>
    <li class="flex items-center gap-2 not-first-of-type:before:content-['•']">
        <a href="https://t.me/orzxiety" class="hover:cursor-pointer hover:text-white hover:underline">Telegram</a>
    </li>
</ul>
